body {
  margin: 0px;
}

.main {
  display: grid;
  background-color: brown;
  background-image: url(https://i.pinimg.com/736x/e6/7d/af/e67daf68a6e8f6d4a9283cb7d64b098c.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#navBar {
  display: flex;
  justify-content: space-between;
  background-image: url(https://previews.123rf.com/images/vicushka/vicushka1705/vicushka170500098/77753416-healthy-food-background-for-recipes-menu-or-list-with-various-fresh-organic-vegetables-and-condiment.jpg);
  margin-top: 50px;
  font-size: 50px;
  text-align: center;
  color: red;
}

.fwd {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  margin-top: 100px;
}

.eur {
  border-style: solid;
  border-color: black;
  padding: 10px;
  margin-right: 20px;
  margin-left: 20px;
  background-image: url(https://i.pinimg.com/originals/5c/5e/6b/5c5e6b00aae3430a6e0803a38c8dda1c.png);
  font-size: 100px;
  color: green;
}

#er {
  font-size: 50px;
}
.asia {
  border-style: solid;
  border-color: black;
  padding: 10px;
  margin-right: 20px;
  margin-left: 20px;
  background-color: lightgrey;
  background-image: url(https://i.imgur.com/Ha3C5sR.jpg);
  font-size: 100px;
}

#as {
  font-size: 50px;
}

.africa {
  border-style: solid;
  border-color: black;
  padding: 10px;
  margin-right: 20px;
  margin-left: 20px;
  background-color: lightgrey;
  font-size: 100px;
  background-image: url(https://static.boredpanda.com/blog/wp-content/uploads/2018/10/taste-atlas-food-map-fb5__700-png.jpg);
}

#af {
  font-size: 50px;
}

.amerca {
  border-style: solid;
  border-color: black;
  padding: 10px;
  margin-right: 20px;
  margin-left: 20px;
  background-color: lightgrey;

  background-image: url(https://i.pinimg.com/originals/d9/ad/9d/d9ad9df0faf83426c98085ef819aaf64.png);
  font-size: 100px;
}

#am {
  font-size: 50px;
}

.feedback {
  border-style: solid;
  border-color: white;
  display: flex;
  background-color: white;
  margin-right: 100px;
  margin-left: 100px;
  font-size: 50px;
  text-align: center;
  margin-top: 100px;
  background-image: url(https://image.shutterstock.com/image-vector/yummy-smile-isolated-icon-delicious-260nw-1392166112.jpg);
}
