body {
  margin: 0px;
  background-size: cover;}

   


.fwd {
  font-size: 100px;
  color: red;
  margin-right: 20px;
  margin-left: 700px;
}

 



.Nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-between;
  background-color: lightgrey;
  
}

 
.fwd {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  margin-top: 100px;
  margin-right: 50px;
  margin-left: 250px;
}

.eur {
  border-style: solid;
  border-color: black;
  padding: 10px;
  margin-right: 10px;
  margin-left: 10px;
  background-color: lightgrey;
  font-size: 70px;
  border-radius: 10%/50%;
  width: 500px;
}
.frfood {
  font-size: 50px;
}
.spfood {
  font-size: 50px;
}
.britfood {
  font-size: 50px;
}

.itmg {
  font-size: 50px;
}

.asia {
  border-style: solid;
  border-color: black;
  padding: 10px;
  margin-right: 20px;
  margin-left: 20px;
  background-color: lightgrey;
  font-size: 70px;
  border-radius: 10%/50%;
  width: 500px;
}

 

.chinmg {
  font-size: 50px;
}
.mdmg {
  font-size: 50px;
}

.kormg {
  font-size: 50px;
}

.jpmg {
  font-size: 50px;
}
/*/////////////////////////////////////////////*/

.america {
  border-style: solid;
  border-color: black;
  padding: 10px;
  margin-right: 10px;
  margin-left: 10px;
  background-color: lightgrey;
  font-size: 70px;
  border-radius: 10%/50%;
  width: 500px;
}

.usmg {
  font-size: 50px;
}
.canmg {
  font-size: 50px;
}
.brmg {
  font-size: 50px;
}
.argmg {
  font-size: 50px;
}

 

input{ font-size: 20px;}


.feedback {

  position: bottom ;
  border-style: solid;
  border-color: white;
  display: flex;
  background-color: white;
  margin-right: 100px;
  margin-left: 100px;
  font-size: 100px;
  text-align: center;
  margin-top: 100px;
   background-repeat: no-repeat;
   position: fixed;
  width: 50%;
  bottom: 10px;
 }
