body {
  /*background-image: url(https://previews.123rf.com/images/kesu87/kesu871905/kesu87190500167/123488888-asian-food-background-with-various-ingredients-on-rustic-stone-background-top-view-.jpg);*/
  margin: 0px;
  background-size: cover;
}

.Nav {
  /*opacity: 0.5;*/
  background-color: rgba(222, 184, 135, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
}

#hme {
  padding-left: 3rem;
  padding: 0;
  border: none;
  background: none;
  margin-left: 10px;
  color: red;
}

#hme:hover {
  background-color: burlywood;
 }

 #asi:hover{
  background-color: burlywood;
 }

 #eup:hover{
  background-color: burlywood;
 }

 #amc:hover{
  background-color: burlywood;
 }

 #afr:hover{
  background-color: burlywood;
 }

 #about:hover{
  background-color: burlywood;
 }


#links {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-right: 3rem;
}

#maintitle {
  font-size: 100px;
  /*color: red;*/

  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 350px;
  color: azure;
}

.fwd {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  margin-top: 10px;
  margin-right: 100px;
  margin-left: 250px;
  font-size: 100px;
}

.eur {
  /*background-image: url(https://previews.123rf.com/images/hugolacasse/hugolacasse1503/hugolacasse150300008/37231674-travel-europe-landmarks-background-vector-illustration.jpg);*/
  border-style: double;
  border-color: black;
  padding: 10px;
  margin-right: auto;
  margin-left: 120px;
  /*background-color: lightgrey;*/
  font-size: 60px;
  border-radius: 10%/50%;
  width: 1000px;
  font-weight: bold;
  color: wheat;
  background-size: cover;
}
.frfood {
  font-size: 50px;
}
.spfood {
  font-size: 50px;
}
.britfood {
  font-size: 50px;
}

.itmg {
  font-size: 50px;
}

.asia {
  /*background-image: url(https://wallpaperaccess.com/full/6135.jpg);*/
  border-style: double;
  border-color: black;
  padding: 10px;
  margin-right: auto;
  margin-left: 120px;
  /*background-color: lightgrey;*/
  font-size: 60px;
border-style: none;
  /*border-radius: 10%/50%;*/
  width: 1000px;
  font-weight: bold;
  color: azure;
  background-size: cover;
}
.china{color: white;}
.chinmg {
  border-style: none;
  /*font-size: 10px;
width: auto;*/
}
 

.mdmg {
  font-size: 50px;
}

.kormg {
  font-size: 50px;
}

.jpmg {
  font-size: 50px;
}
/*/////////////////////////////////////////////*/

.america {
  border-style: double;
  border-color: black;
  padding: 10px;
  margin-right: auto;
  margin-left: 120px;
  /*background-color: lightgrey;*/
  font-size: 60px;
  border-radius: 10%/50%;
  width: 1000px;
  font-weight: bold;
  color: azure;
  background-size: cover;
}

.usmg {
  font-size: 50px;
}
.canmg {
  font-size: 50px;
}
.brmg {
  font-size: 50px;
}
.argmg {
  font-size: 50px;
}

.africa {
  background-image: url(https://c0.wallpaperflare.com/preview/481/695/690/adventure-asia-background-backlit.jpg);
  border-style: double;
  border-color: black;
  padding: 10px;
  margin-right: auto;
  margin-left: 120px;
  /*background-color: lightgrey;*/
  font-size: 60px;
  border-radius: 10%/50%;
  width: 1000px;
  font-weight: bold;
  color: black;
  background-size: cover;
}
.abt {
  /*border-style: solid;
  border-color: black;*/
  padding: 10px;
  margin-right: auto;
  margin-left: 120px;
  /*background-color: rgba(222, 184, 135, 0.5);*/
  font-size: 50px;
  border-radius: 10%/50%;
  width: 1000px;
  color: azure;
}

input {
  font-size: 30px;
  font-weight: bold;
}

.feedback {
  grid-template-columns: 1fr, 1fr;
  position: bottom;
   
  display: flex;
   margin-right: 50px;
  margin-left: 50px;
  font-size: 20px;
  text-align: center;
  margin-top: 50px;
  position: fixed;
  border-style: none;

  bottom: 10px;
  font-weight: bold;
  background-color: rgba(222, 184, 135, 0.5);
}
#fedbk {
  font-weight: bold;
  width: auto;
  border-style: none;
}

#feed {
  background-color: rgba(216, 206, 192, 0.5);

  border-style: none;
}
/*#add {
  font-size: 50px;
  width: 300px;
}*/
